<div class="container">
  <div class="input">


    <div id="inputaccordion" [style.maxHeight]="barclick ? '394px' : '47px'">

      <div id="inputaccordion-bar" (click)="clickbar()">

        <div
          style="cursor: pointer;padding-top: 12px; background-color:transparent; height: 100%; width: 80%;">

          <h2>
            Best Fit Input
          </h2>

        </div>
        <div
          style=" padding-top: 2px; cursor: pointer;align-items:center; background-color:transparent;height: 100%; width: 20%;">

          <div
            [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

            <i style="margin-top:8px; transform: scale(0.9);" class="material-icons">
              keyboard_arrow_down
            </i>
          </div>


        </div>

      </div>
      <div id="input-content">

        <div style="height: 354px; display: flex; ">
          <div style="display:flex;  background-color:transparent;height: 100%; width: 33%;">

          </div>
          <div class="item1">
            <div>3</div>
            <div> 5</div>
            <div>0.75</div>
            <div>4556</div>
            <div>366</div>
            <div>235</div>
            <div>52</div>
            <div>834</div>
            <div>0.28</div>
            <div>8</div>
            <div>1.2</div>
          </div>

          <div style="display:flex;  background-color:transparent; height: 100%; width: 33%; ">
          </div>
        </div>

      </div>



    </div>

  </div>
</div>


<!--<hr>
<h4> 1.2.3 bestfitinput </h4><br>
  SuctionTank = {{bestfitinput.Suction_Tank_No_BF}}<br>
  BlendingTank = {{bestfitinput.Blending_Tank_No_BF}} <br>
  BlendRatio = {{bestfitinput.Blend_Ratio_BF}} <br>
  NapthaLoad = {{bestfitinput.Naphtha_Load_BF}} <br>
  LPGLoad = {{bestfitinput.LPG_Load_BF}}<br>
  C5 Load = {{bestfitinput.C5_Load_BF}}<br>
  C6 Load = {{bestfitinput.C6_Load_BF}}<br>
  Naphtha Heater = {{bestfitinput.Naphtha_Heater_BF}}<br>
  COT = {{bestfitinput.COT_BF}}<br>
  BGF PDI = {{bestfitinput.GF_PDI_BF}}<br>
  CGC SUC Pressure = {{bestfitinput.Suc_Pressure_BF}} <br>
  -->