.container {
  margin: 0px auto;
  display: grid;

  border: 1px solid rgb(150, 150, 150);
  grid-template-columns: repeat(33, minmax(10px, 30px));
  column-gap: 10px;
  grid-template-rows: 80px 504px 44px;

  grid-template-areas: "h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h"
    ". . . c c c c c c c c c c c c c c c c c c c c c c c c c c c . . ."
    ". . . . . . . . . . . . . . s s s s s . . . . . . . . . . . . . .";

  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 20px;
}

.container>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: rgb(150, 150, 150);
  font-family: Open Sans;
}

#navbar {
  /* grid-column: 1/-1;*/
  grid-area: h;
}

#tankpage {
  /*   grid-column: 9/-9;
    grid-row: 3/4;*/

  grid-area: c;
  background-color: transparent;
}

#simulate-button {
  /*   grid-column: 15/-15;
    grid-row: 5/6;*/
  grid-area: s;
}

#tankqualityblur,
.container-4>div>#tankqualityblur {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.55);
}

/*--------------------------------------------------------------*/
.container-2 {
  margin: 0px auto;
  display: grid;

  border: 1px solid rgb(150, 150, 150);
  grid-template-columns: repeat(33, minmax(10px, 30px));
  column-gap: 10px;
  grid-template-rows: 80px 750px 44px;

  grid-template-areas: "h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h"
    "c c c c c c c c c c c c c c c c c c c c c c c c c c c c c c c c c"
    ". . . . . . . . . . . . . . s s s s s . . . . . . . . . . . . . .";

  width: 100%;
  height: 100%;
  justify-content: center;
}

.container-2>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: rgb(150, 150, 150);
  font-family: Open Sans;
}

#navbar-simulate {
  /* grid-column: 1/-1;*/
  grid-area: h;
}

#tankpage-simulate {
  /*   grid-column: 9/-9;
    grid-row: 3/4;*/

  grid-area: c;
  background-color: transparent;
}

#next-page {
  /*   grid-column: 15/-15;
    grid-row: 5/6;*/
  grid-area: s;
}


/*-------------------*************************page-3 ************************-------------------------------------------*/
.container-3 {
  margin: 0px auto;
  display: grid;

  border: 1px solid rgb(150, 150, 150);
  grid-template-columns: repeat(33, minmax(10px, 30px));
  column-gap: 10px;
  grid-template-rows: 80px 1003px 44px;

  grid-template-areas: "h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h"
    ". . . c c c c c c c c c c c c c c c c c c c c c c c c c c c . . ."
    ". . . . . . . . . . . . . . n n n n n . . . . . . . . . . . . . .";

  width: 100%;
  height: 100%;
  justify-content: center;
}

.container-3>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: rgb(150, 150, 150);
  font-family: Open Sans;
}

#navbar-simulate {
  /* grid-column: 1/-1;*/
  grid-area: h;
}

#input-parameter {
  /*   grid-column: 9/-9;
    grid-row: 3/4;*/

  grid-area: c;
  background-color: transparent;
}

#input-next-page {
  /*   grid-column: 15/-15;
    grid-row: 5/6;*/
  grid-area: n;
}


/*-------------------*************************page-4 ************************-------------------------------------------*/
.container-4 {
  margin: 0px auto;
  display: grid;

  border: 1px solid rgb(150, 150, 150);
  grid-template-columns: repeat(33, minmax(10px, 30px));
  column-gap: 10px;
  grid-template-rows: 80px 1144px;

  grid-template-areas: "h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h h"
    ". . c c c c c c c c c c c c c c c c c c c c c c c c c c c c c . .";


  width: 100%;
  height: 100%;
  justify-content: center;
}

.container-4>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: rgb(150, 150, 150);
  font-family: Open Sans;
}

#navbar-simulate {
  /* grid-column: 1/-1;*/
  grid-area: h;
}

#output-parameter {
  /*   grid-column: 9/-9;
    grid-row: 3/4;*/

  grid-area: c;
  background-color: transparent;
}
