<div class="container">
    <!-- <div id="name"></div>
    <div id="output">

    </div>
-->
    <div id="name">



        <div id="outputsummaryaccordion" [style.maxHeight]="barclick ? '275px' : '44px'">

            <div id="outputsummaryaccordion-bar" (click)="clickbar()">

                <div
                    style=" display:flex; justify-content:flex-start;cursor: pointer; align-items:center;padding-left:10px; background-color:transparent; height: 100%; width: 80%;">

                    <h2>
                        Running
                    </h2>

                </div>
                <div
                    style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 20%;">

                    <div
                        [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

                        <i style="margin-top:8px;cursor: pointer;transform: scale(0.8);" class="material-icons">
                            keyboard_arrow_down
                        </i>
                    </div>


                </div>

            </div>
            <div id="outputsummary-content">
                <div style="display:flex; height: 100%; width: 25%; ">
                </div>
                <div style="height:100%; width:50%; display: flex; ">

                    <div class="item2">
                        <div>1243</div>
                        <div>945</div>
                        <div>432</div>
                        <div>215</div>
                        <div>76</div>
                        <div>35</div>
                        <div>152</div>

                    </div>



                </div>
                <div style="display:flex; height: 100%; width: 25%; ">
                </div>

            </div>





        </div>

    </div>
    <div id="confirm">
        <div
            style="background-color: transparent; display: grid; grid-template-columns: repeat(2, minmax(23.33px, 70px)); grid-template-rows: 44px; column-gap:10px;">
            <div style="display :flex; background-color: transparent; grid-column: 1/2;" (click)="confirmation()">
                <i class="material-icons" style="padding: 8px 0px 5px 30px;color: #6d6d6d; cursor: pointer;">
                    check
                </i></div>
            <div style="display :flex; background-color:transparnet; grid-column: 2/-1;" (click)="copy()">
                <i style="padding: 10px 5px 5px 15px;color: #6d6d6d; cursor: pointer;font-size:20px;"
                    class="far fa-copy"></i>

            </div>
        </div>
    </div>
</div>
<!--<h6>bestfitoutput</h6>
Ethylene = {{bestfitoutput.Ethylene_BF}} <br>
Propylene = {{bestfitoutput.Propylene_BF}} <br>
RPG = {{bestfitoutput.RPG_BF}} <br>
C4 Mix ={{bestfitoutput.C4_Mix_BF}} <br>
Fuel Gas = {{bestfitoutput.Fuel_Gas_BF}} <br>
Benzene = {{bestfitoutput.Benzene_BF}} <br>
1,3-Buta-diene ={{bestfitoutput.BD_BF}} <br>
<button type="button" (click)="getconfirm()" class="btn btn-danger">Confirm</button>
<hr>
-->