<div class="main">
  <span class="content-box">Home</span>
  <span class="content-box">Inbound Naphtha</span>
  <span class="content-box">Naphtha Planning</span>
  <span class="content-box">Dashboards</span>
  <span class="content-box">Login </span>

</div>

<!--

<div class="a">
    <mat-tab-group>
  <mat-tab label="Inbound Naphatha">Inbound Naphatha</mat-tab>
  <mat-tab label="Naphatha Planning">Naphatha Planning</mat-tab>
  <mat-tab label="Dashboard"> Dashboard</mat-tab>
</mat-tab-group>
</div>

<app-monthlyplanning></app-monthlyplanning>
<hr>

<hr>
<app-newnaphtha></app-newnaphtha>

<hr>
<app-inputoutput></app-inputoutput>

<hr>
<app-login></app-login>

<hr>
<app-qualityquantity></app-qualityquantity>
<hr>
-->