/*.container {
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(50px, 150px));
  grid-template-rows: 44px 347px 274px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.container>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  font-family: Open Sans;
}


#name {
  grid-row: 1/1;
  background-color: rgb(128, 125, 125);
}

#input {

  grid-row: 2/2;
  background-color: rgb(238, 232, 232);

}

#quality {
  grid-row: 3/3;
  background-color: rgb(179, 202, 193);

}
*/

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}
.container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(1, minmax(50px, 150px));

	grid-template-rows: 665px;
}

.outputsummary {
	grid-column: 1/-1;
	grid-row: 1/-1;
	background-color: transparent;
	display: flex;
}

#outputsummaryaccordion {
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 1.0px 1px 0.05px #acacac, 0.3px 1.5px 3.0px 0.8px #cccccc;
	border-radius: 5px 5px 5px 5px;
	color: #6d6d6d;
	text-align: center;

	overflow: hidden;
	transition: max-height 0.2s ease-in;
}
#outputsummaryaccordion-bar {
	width: 100%;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}
#outputsummary-content {
	width: 100%;
	height: 264px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	text-align: center;
	border-radius: 0 0 5px 5px;
}

p {
	margin: 0;
	color: #3a71b8;
	font-family: Open Sans Semibold;
}
h2 {
	margin: 0;
	font-size: 14px;
	font-family: Open Sans Semibold;
	color: #6d6d6d;
}
span {
	margin-top: 4px;
	font-size: 16px;
	color: rgb(149, 178, 202);
	font-family: Open Sans Semibold;
}
ul {
	list-style-type: none;
}

.item2 {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	height: 100%;
	width: 50%;
	padding-top: 2px;
}

.item2 > div {
	background-color: transparent;
	margin: 2px;
	height: 30px;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	font-size: 14px;
	text-align: center;
	flex-wrap: nowrap;

	font-family: Open sans;
}
