<!--<div class="container">
<div id="name"></div>
<div id="input"></div>
<div id="quality"></div>
</div>
-->
<div class="container">
  <div class="outputsummary">


    <div id="outputsummaryaccordion" [ngStyle]="{'border': confirmflag  ? '0.8px solid #db3236' : ' 1px transparent'
    , 'border-color': hideborder && confirmflag  ? 'transparent' : '#db3236'}"
      [style.maxHeight]="barclick ? '665px' : '44px'">

      <div id="outputsummaryaccordion-bar" (click)="clickbar()">

        <div
          style=" display:flex; justify-content:flex-start;cursor: pointer; align-items:center;padding-left:10px; background-color:transparent; height: 100%; width: 80%;">

          <h2>
            Next Hour
          </h2>

        </div>
        <div
          style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 20%;">

          <div
            [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

            <i style="margin-top:8px;cursor: pointer;transform: scale(0.8);" class="material-icons">
              keyboard_arrow_down
            </i>
          </div>


        </div>

      </div>
      <div id="output-content">

        <div style="height: 621px; display: flex; ">
          <div style="display:flex;  height: 100%; width: 25%;">

          </div>
          <div class="item2">
            <div>3</div>
            <div>5</div>
            <div>0.75</div>
            <div>4546</div>
            <div>366</div>
            <div>235</div>
            <div>52</div>
            <div>835</div>
            <div>0.24</div>
            <div>8</div>
            <div>1.2</div>
            <div> -- </div>
            <div>82%</div>
            <div> 5%</div>
            <div>8%</div>
            <div>10%</div>
            <div>1.02</div>
            <div>.67 gm/cc</div>
            <div>45 C</div>
            <div>127 C</div>

          </div>

          <div style="display:flex; height: 100%; width: 25%; ">
          </div>
        </div>

      </div>




    </div>

  </div>
</div>






<!--<h6>nexthourinputsummary</h6>
Suction Tank =  {{nexthourinput.suctiontank}} <br>
Blending Tank =  {{nexthourinput.blendingtank}} <br>
BlendRatio =  {{nexthourinput.blendratio}} <br>
NapthaLoad =  {{nexthourinput.naphthaload}} <br>
LPG=  {{nexthourinput.lpg}} <br>
C5 =  {{nexthourinput.c5}} <br>
C6 =  {{nexthourinput.c6}} <br>
Heater =  {{nexthourinput.heater}} <br>
COT =  {{nexthourinput.cot}} <br>
PDI =  {{nexthourinput.pdi}} <br>
Pressure =  {{nexthourinput.pressure}} <br>
<br>
Paraffin =  {{nexthourinput.paraffin}} <br>
Olefins =  {{nexthourinput.olefins}} <br>
Aromatics =  {{nexthourinput.aromatics}} <br>
Naphthene =  {{nexthourinput.naphthene}} <br>
IN_IP_Ratio =  {{nexthourinput.inipratio}} <br>
Density =  {{nexthourinput.density}} <br>
IBP =  {{nexthourinput.ibp}} <br>
FBP =  {{nexthourinput.fbp}} <br>


-->