<div class="container">
<div id="name"></div>
<div id="input"></div>
<div id="quality"></div>
</div>




<!--<h6>nexthourinputsummary</h6>
Suction Tank =  {{nexthourinput.suctiontank}} <br>
Blending Tank =  {{nexthourinput.blendingtank}} <br>
BlendRatio =  {{nexthourinput.blendratio}} <br>
NapthaLoad =  {{nexthourinput.naphthaload}} <br>
LPG=  {{nexthourinput.lpg}} <br>
C5 =  {{nexthourinput.c5}} <br>
C6 =  {{nexthourinput.c6}} <br>
Heater =  {{nexthourinput.heater}} <br>
COT =  {{nexthourinput.cot}} <br>
PDI =  {{nexthourinput.pdi}} <br>
Pressure =  {{nexthourinput.pressure}} <br>
<br>
Paraffin =  {{nexthourinput.paraffin}} <br>
Olefins =  {{nexthourinput.olefins}} <br>
Aromatics =  {{nexthourinput.aromatics}} <br>
Naphthene =  {{nexthourinput.naphthene}} <br>
IN_IP_Ratio =  {{nexthourinput.inipratio}} <br>
Density =  {{nexthourinput.density}} <br>
IBP =  {{nexthourinput.ibp}} <br>
FBP =  {{nexthourinput.fbp}} <br>


-->
