<h3>
  newnaphtha
</h3>
<button (click)="getthismonthdetail()">this month detail</button>
<table style="width:100%">
  <tr>
    <th>Transport_Type</th>
    <th>Date_Transfer_From</th>
    <th>Date_Transfer_To</th> 
    <th>HOJ</th>
    <th>Load_Port</th>
    <th>BL_Quantity</th>
    <th>Shore_Quantity</th>
    <th>Opening_Stock</th>
    <th>Source</th>
    <th>PCN_NCU</th>
    <th>PCN_CPP</th>
    <th>FGN_CPP</th>
    <th>CBFS_CPP</th>
    <th>Vessel_Name</th>
    <th>Shortage_Quantity</th>
  </tr>
<ng-container *ngFor="let i of thismonthplan">
<ng-container *ngFor="let obj of i">
  <tr>
      <td>{{obj.Transport_Type}}</td>
      <td>{{obj.Date_Transfer_From}}</td>
      <td>{{obj.Date_Transfer_To}}</td>
      <td>{{obj.HOJ}}</td>
      <td>{{obj.Load_Port}}</td>
      <td>{{obj.BL_Quantity}}</td>
      <td>{{obj.Shore_Quantity}}</td>
      <td>{{obj.Opening_Stock}}</td>
      <td>{{obj.Source}}</td>
      <td>{{obj.PCN_NCU}}</td>
      <td>{{obj.PCN_CPP}}</td>
      <td>{{obj.FGN_CPP}}</td>
      <td>{{obj.CBFS_CPP}}</td>
      <td>{{obj.Vessel_Name}}</td>
      <td>{{obj.Shortage_Quantity}}</td>
  </tr>
</ng-container>
</ng-container>
</table>



<form (ngSubmit)="getanymonthdetail()">
  <input type="text" name="from date" (click)="showcalender1()" [(ngModel)]="fromdate" placeholder="from date"><br>
  <input type="text" name="to date" (click)="showcalender2()" [(ngModel)]="todate" placeholder="to date"><br>
  <input type="submit" value="given range detail">
</form>

<ng-container *ngIf="flag1 == true && flag2 == false">
  <ngb-datepicker #dp [(ngModel)]="model" (select)="onFromDateSelect($event)" ></ngb-datepicker>
</ng-container>

<ng-container *ngIf="flag2 == true && flag1 == false">
    <ngb-datepicker #dp [(ngModel)]="model" (select)="onToDateSelect($event)" ></ngb-datepicker>
  </ng-container>
  <table style="width:100%">
  <tr>
    <th>Transport_Type</th>
    <th>Date_Transfer_From</th> 
    <th>Date_Transfer_To</th> 
    <th>HOJ</th>
    <th>Load_Port</th>
    <th>BL_Quantity</th>
    <th>Shore_Quantity</th>
    <th>Opening_Stock</th>
    <th>Source</th>
    <th>PCN_NCU</th>
    <th>PCN_CPP</th>
    <th>FGN_CPP</th>
    <th>CBFS_CPP</th>
    <th>Vessel_Name</th>
    <th>Shortage_Quantity</th>
  </tr>
<ng-container *ngFor="let i of anymonthdetail">
<ng-container *ngFor="let obj of i">
  <tr>
      <td>{{obj.Transport_Type}}</td>
      <td>{{obj.Date_Transfer_From}}</td>
      <td>{{obj.Date_Transfer_To}}</td>
      <td>{{obj.HOJ}}</td>
      <td>{{obj.Load_Port}}</td>
      <td>{{obj.BL_Quantity}}</td>
      <td>{{obj.Shore_Quantity}}</td>
      <td>{{obj.Opening_Stock}}</td>
      <td>{{obj.Source}}</td>
      <td>{{obj.PCN_NCU}}</td>
      <td>{{obj.PCN_CPP}}</td>
      <td>{{obj.FGN_CPP}}</td>
      <td>{{obj.CBFS_CPP}}</td>
      <td>{{obj.Vessel_Name}}</td>
      <td>{{obj.Shortage_Quantity}}</td>
  </tr>
</ng-container>
</ng-container>
</table>

  


<form (ngSubmit)="postnewnaphthadetails()">
  Transport_Type = <input type="text"  name="Transport_Type" [(ngModel)]="newnaphtha.Transport_Type" required><br>
  Date_Transfer_From =  <input type="date" name="Date_Transfer_From" [(ngModel)]="newnaphtha.Date_Transfer_From" required><br>
  Date_Transfer_To =  <input type="date" name="Date_Transfer_To" [(ngModel)]="newnaphtha.Date_Transfer_To" required><br>
  HOJ =  <input type="text" name="HOJ" [(ngModel)]="newnaphtha.HOJ" required><br>
  Load_Port = <input type="text" name="Load_Port" [(ngModel)]="newnaphtha.Load_Port" required><br>
  BL_Quantity = <input type="number" name="BL_Quantity" [(ngModel)]="newnaphtha.BL_Quantity" required><br>
  Shore_Quantity = <input type="number" name="Shore_Quantity" [(ngModel)]="newnaphtha.Shore_Quantity" required><br>
  Opening_Stock = <input type="number" name="Opening_Stock" [(ngModel)]="newnaphtha.Opening_Stock"><br>
  Source = <input type="text" name="Source" [(ngModel)]="newnaphtha.Source"><br required>
  PCN_NCU = <input type="number" name="PCN_NCU" [(ngModel)]="newnaphtha.PCN_NCU"><br>
  PCN_CPP = <input type="number" name="PCN_CPP" [(ngModel)]="newnaphtha.PCN_CPP"><br>
  FGN_CPP = <input type="number" name="FGN_CPP" [(ngModel)]="newnaphtha.FGN_CPP"><br>
  CBFS_CPP = <input type="number" name="CBFS_CPP" [(ngModel)]="newnaphtha.CBFS_CPP"><br>
  Vessel_Name = <input type="text" name="Vessel_Name" [(ngModel)]="newnaphtha.Vessel_Name" required><br>
  <br>

Aromatics = <input type="number"  name="Aromatics" [(ngModel)]="newnaphtha.Aromatics"><br>
Colour = <input type="number"  name="Colour" [(ngModel)]="newnaphtha.Colour"><br>
Density = <input type="number"  name="Density" [(ngModel)]="newnaphtha.Density"><br>
IN_IP_Ratio = <input type="number"  name="IN_IP_Ratio" [(ngModel)]="newnaphtha.IN_IP_Ratio"><br>
Naphthene = <input type="number" name="Naphthene" [(ngModel)]="newnaphtha.Naphthene"><br>
Olefins = <input type="number" name="Olefins" [(ngModel)]="newnaphtha.Olefins"><br>
Paraffin = <input type="number" name="Paraffin" [(ngModel)]="newnaphtha.Paraffin"><br>
RVP = <input type="number" name="RVP" [(ngModel)]="newnaphtha.RVP"><br>
Sulfur = <input type="number" name="Sulfur" [(ngModel)]="newnaphtha.Sulfur"><br>
FBP = <input type="number" name="FBP" [(ngModel)]="newnaphtha.FBP"><br>
IBP = <input type="number" name="IBP" [(ngModel)]="newnaphtha.IBP"><br>

  
    <input class="btn btn-success" type="submit" value="submit">
</form>

<div id = "receipttankfill" *ngIf="count == 5">
<table style="width:100%">
  <tr>
    <th>Transport_Type</th>
    <th>Date_Transfer_From</th>
    <th>Date_Transfer_To</th> 
    <th>HOJ</th>
    <th>Load_Port</th>
    <th>BL_Quantity</th>
    <th>Shore_Quantity</th>
    <th>Opening_Stock</th>
    <th>Source</th>
    <th>PCN_NCU</th>
    <th>PCN_CPP</th>
    <th>FGN_CPP</th>
    <th>CBFS_CPP</th>
    <th>Vessel_Name</th>
    <th>Shortage_Quantity</th>
  </tr>

  <tr>
      <td>{{receivednaphtha[0][1]}}</td>
      <td>{{receivednaphtha[0][2]}}</td>
      <td>{{receivednaphtha[0][3]}}</td>
      <td>{{receivednaphtha[0][4]}}</td>
      <td>{{receivednaphtha[0][5]}}</td>
      <td>{{receivednaphtha[0][6]}}</td>
      <td>{{receivednaphtha[0][7]}}</td>
      <td>{{receivednaphtha[0][8]}}</td>
      <td>{{receivednaphtha[0][9]}}</td>
      <td>{{receivednaphtha[0][10]}}</td>
      <td>{{receivednaphtha[0][11]}}</td>
      <td>{{receivednaphtha[0][12]}}</td>
      <td>{{receivednaphtha[0][13]}}</td>
      <td>{{receivednaphtha[0][14]}}</td>
      <td>{{receivednaphtha[0][15]}}</td>
      
  </tr>

</table>
<br>
<table style="width:100%">
  <tr>
    <th>Aromatics </th>
    <th>Colour </th>
    <th>Density </th> 
    <th>IN_IP_Ratio</th>
    <th>Naphthene  </th>
    <th>Olefins </th>
    <th>Paraffin </th>
    <th>RVP </th>
    <th>Sulfur </th>
    <th>FBP </th>
    <th>IBP </th>
  </tr>
Supplier Quality
  <tr>
      <td>{{receivednaphtha[1][1]}}</td>
      <td>{{receivednaphtha[1][2]}}</td>
      <td>{{receivednaphtha[1][3]}}</td>
      <td>{{receivednaphtha[1][4]}}</td>
      <td>{{receivednaphtha[1][5]}}</td>
      <td>{{receivednaphtha[1][6]}}</td>
      <td>{{receivednaphtha[1][7]}}</td>
      <td>{{receivednaphtha[1][8]}}</td>
      <td>{{receivednaphtha[1][9]}}</td>
      <td>{{receivednaphtha[1][10]}}</td>
      <td>{{receivednaphtha[1][11]}}</td>
    </tr>
Lab Quality
      <tr>
      <td>{{receivednaphtha[2][1]}}</td>
      <td>{{receivednaphtha[2][2]}}</td>
      <td>{{receivednaphtha[2][3]}}</td>
      <td>{{receivednaphtha[2][4]}}</td>
      <td>{{receivednaphtha[2][5]}}</td>
      <td>{{receivednaphtha[2][6]}}</td>
      <td>{{receivednaphtha[2][7]}}</td>
      <td>{{receivednaphtha[2][8]}}</td>
      <td>{{receivednaphtha[2][9]}}</td>
      <td>{{receivednaphtha[2][10]}}</td>
      <td>{{receivednaphtha[2][11]}}</td>
    </tr>

</table>
<br>
<table style="width:100%">
  <tr>
    <th>Paraffin </th>
    <th> Density</th>
    <th>IN_IP_Ratio </th> 
    <th>Aromatics</th>
  </tr>

  <tr>
      <td>{{qualityreal[0][1]}}</td>
      <td>{{qualityreal[0][2]}}</td>
      <td>{{qualityreal[0][3]}}</td>
      <td>{{qualityreal[0][4]}}</td>
      
    </tr>
    <tr>
      <td>{{qualityreal[1][1]}}</td>
      <td>{{qualityreal[1][2]}}</td>
      <td>{{qualityreal[1][3]}}</td>
      <td>{{qualityreal[1][4]}}</td>
      
    </tr>
    <tr>
      <td>{{qualityreal[2][1]}}</td>
      <td>{{qualityreal[2][2]}}</td>
      <td>{{qualityreal[2][3]}}</td>
      <td>{{qualityreal[2][4]}}</td>
      
    </tr>
    <tr>
      <td>{{qualityreal[3][1]}}</td>
      <td>{{qualityreal[3][2]}}</td>
      <td>{{qualityreal[3][3]}}</td>
      <td>{{qualityreal[3][4]}}</td>
      
    </tr>
    <tr>
      <td>{{qualityreal[4][1]}}</td>
      <td>{{qualityreal[4][2]}}</td>
      <td>{{qualityreal[4][3]}}</td>
      <td>{{qualityreal[4][4]}}</td>
      
    </tr>
</table>
<br>
<table style="width:100%">
  <tr>
   <th>Aromatics </th>
    <th>Colour </th>
    <th>Density </th> 
    <th>IN_IP_Ratio</th>
    <th>Naphthene  </th>
    <th>Olefins </th>
    <th>Paraffin </th>
    <th>RVP </th>
    <th>Sulfur </th>
    <th>FBP </th>
    <th>IBP </th>
  </tr>
    <ng-container *ngFor="let i of qualityavg">
  

  <tr>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td>{{i[6]}}</td>
      <td>{{i[7]}}</td>
      <td>{{i[8]}}</td>
      <td>{{i[9]}}</td>
      <td>{{i[10]}}</td>
      <td>{{i[11]}}</td>
      
      
    </tr>
    </ng-container>
</table>
<table style="width:100%">
  <tr>
   <th>Tank No.1 Level </th>
    <th>Tank No.2 Level </th>
    <th>Tank No.3 Level </th> 
    <th>Tank No.4 Level</th>
    <th>Tank No.5 Level  </th>
  </tr>
  

  <tr>
      <td>{{alltankslevel[0]}}</td>
      <td>{{alltankslevel[1]}}</td>
      <td>{{alltankslevel[2]}}</td>
      <td>{{alltankslevel[3]}}</td>
      <td>{{alltankslevel[4]}}</td>
      
      
    </tr>
   
</table>
Suction Tank = {{sbtank.Suction_Tank_No_RN}}<br>
Blending Tank = {{sbtank.Blending_Tank_No_RN}}<br>
<br>
Receving Tanks = {{receivingnaphtha[0]}} ,{{receivingnaphtha[1]}}
<br>
<br>
<div appMouse>

    <form appTab id = "tankamts" class = "tankfillform">
        Tank 1 = <input appTab id = "tank1amt" type="number" (click) ="updateremainingnaphtha()"  name="Tank 1" [(ngModel)]="transferquantity[0]" ><button id = "tank1first" class="btn btn-warning" [disabled]="true" (click)="firsttank(1)">Tank 1</button><br>
        <br>
        Tank 2 = <input appTab id ="tank2amt" type="number" (click) ="updateremainingnaphtha()" name="Tank 2" [(ngModel)]="transferquantity[1]" ><button id = "tank2first" class="btn btn-warning" [disabled]="true" (click)="firsttank(2)">Tank 2</button><br>
        <br>
        Tank 3 = <input appTab id = "tank3amt" type="number" (click) ="updateremainingnaphtha()"  name="Tank 3" [(ngModel)]="transferquantity[2]"><button id = "tank3first" class="btn btn-warning" [disabled]="true" (click)="firsttank(3)">Tank 3</button><br>
        <br>
        Tank 4 = <input appTab id = "tank4amt" type="number" (click) ="updateremainingnaphtha()"  name="Tank 4" [(ngModel)]= "transferquantity[3]"><button id = "tank4first" class="btn btn-warning" [disabled]="true" (click)="firsttank(4)">Tank 4</button><br>
        <br>
        Tank 5 = <input appTab id = "tank5amt" type="number" (click) ="updateremainingnaphtha()" name="Tank 5" [(ngModel)]= "transferquantity[4]"><button id = "tank5first" class="btn btn-warning" [disabled]="true" (click)="firsttank(5)">Tank 5</button><br>
        
        </form>
      
        <input  id = "confirmbutton" class="btn btn-success" (click) = "transfernaphthaquantity()" [disabled]="true" type="submit" value="confirm">
      
        Remaining stock = <input type="number" id = "remstock"  name="Remaining stock" [(ngModel)]="remainingnaphtha" >
      
        <input id = "totalstock" type="number" name="totalstock" [(ngModel)]= "newnaphtha.Shore_Quantity">
    
</div>



</div>







  
 