<h2>2. Output parameters</h2>
<div class="container">    
  <div class="row">
    <div class="col-sm-2.5" ><app-userdefinedinputsummary></app-userdefinedinputsummary></div>
    <div class="col-sm-2.5" ><app-runninginputsummary></app-runninginputsummary></div>
    <div class="col-sm-2.5" ><app-profitmaxinputsummary></app-profitmaxinputsummary></div>
    <div class="col-sm-2.5"><app-bestfitinputsummary></app-bestfitinputsummary></div>
    <div class="col-sm-2.5"><app-nexthourinputsummary></app-nexthourinputsummary> </div>
  </div>
  </div>
   
    <div class="container">    
  <div class="row">
    <div class="col-sm-2.5" ><app-userdefinedoutput></app-userdefinedoutput></div>
    <div class="col-sm-2.5" ><app-runningoutput></app-runningoutput></div>
    <div class="col-sm-2.5" ><app-profitmaxoutput></app-profitmaxoutput></div>
    <div class="col-sm-2.5"><app-bestfitoutput></app-bestfitoutput></div>
    <div class="col-sm-2.5"><app-nexthouroutput></app-nexthouroutput> </div>
  </div>
  </div>
  








