<h2>2. Output parameters</h2>
<app-userdefinedinputsummary></app-userdefinedinputsummary> <br>
<app-runninginputsummary></app-runninginputsummary> <br>
<app-profitmaxinputsummary></app-profitmaxinputsummary> <br>
<app-bestfitinputsummary></app-bestfitinputsummary><br>
<app-nexthourinputsummary></app-nexthourinputsummary> <br>
<app-userdefinedoutput></app-userdefinedoutput> <br>
<app-runningoutput></app-runningoutput> <br>
<app-profitmaxoutput></app-profitmaxoutput>
<app-bestfitoutput></app-bestfitoutput>
<app-nexthouroutput></app-nexthouroutput> <br>









