

<div class="container">

<div id ="inputsummary">


</div>

<div id ="rninputsummary">
<app-runninginputsummary></app-runninginputsummary>



</div>
<div id ="bfinputsummary">
<app-bestfitinputsummary></app-bestfitinputsummary>


</div>
<div id ="pminputsummary">
<app-profitmaxinputsummary></app-profitmaxinputsummary>


</div>
<div id ="nhinputsummary">
<app-nexthourinputsummary></app-nexthourinputsummary>


</div>

<div id ="udinputsummary">
<app-userdefinedinputsummary></app-userdefinedinputsummary>


</div>

<div id ="outputparameter">
</div>

<div id ="udoutputparameter">
<app-userdefinedoutput (message)="receivemessage($event)"></app-userdefinedoutput>

</div>
<div id ="rnoutputparameter">
<app-runningoutput (message)="receivemessage($event)"></app-runningoutput>

</div>
<div id ="bfoutputparameter">
<app-bestfitoutput (message)="receivemessage($event)" (copymessage)="receivecopymessage($event)"></app-bestfitoutput>
</div>

<div id ="pmoutputparameter">
<app-profitmaxoutput (message)="receivemessage($event)"></app-profitmaxoutput>
</div>

<div id ="nhoutputparameter">
<app-nexthouroutput></app-nexthouroutput>
</div>
<div *ngIf = "flag" id = "outputconfirmation">
</div>

</div>

<!--<hr>
<div class="row">
    <div class="col text-center">
      <button class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="giveinputs()">Next</button>
    </div>
</div>



<div class="wrapper">    
  <div class="row">
    <div class="col-sm-2.5" >
    <app-userdefinedinputs [nextclicked]="nextclicked"></app-userdefinedinputs>
    <app-blendcomparison [nextclicked]="nextclicked"></app-blendcomparison>
    </div>
    <div class="col-sm-2.5"><app-modelinputscomparion [nextclicked]="nextclicked"></app-modelinputscomparion> </div>
    <div class="col-sm-2.5" ><app-modelblendquality [nextclicked]="nextclicked"></app-modelblendquality></div>
    
    
  </div>
</div>
-->


<!--
    <h2>2. Output parameters</h2>
<div class="grid-container">    
  
    <div class= "item1" ><app-userdefinedinputsummary></app-userdefinedinputsummary></div>
    <div class= "item2" ><app-runninginputsummary></app-runninginputsummary></div>
    <div class= "item3" ><app-profitmaxinputsummary></app-profitmaxinputsummary></div>
    <div class= "item4" ><app-bestfitinputsummary></app-bestfitinputsummary></div>
    <div class= "item5" ><app-nexthourinputsummary></app-nexthourinputsummary> </div>
    <div class= "item6" ><app-userdefinedoutput></app-userdefinedoutput></div>
    <div class= "item7" ><app-runningoutput></app-runningoutput></div>
    <div class= "item8" ><app-profitmaxoutput></app-profitmaxoutput></div>
    <div class= "item9" ><app-bestfitoutput></app-bestfitoutput></div>
    <div class= "item10" ><app-nexthouroutput></app-nexthouroutput> </div>
  
</div>
-->
   

    








