<!--<div class="container">
  <div id="name">
    <div style="width: 80%; height:100%; background-color:rgba(214, 179, 197, 0.479);">
      <h2>Running</h2>
    </div>
    <div style="width: 20%; height:100%; background-color:rgba(180, 138, 138, 0.349);"></div>
  </div>
  <div id="input"></div>
  <div id="quality"></div>
</div>
-->
<div class="container">
  <div class="outputsummary">


    <div id="outputsummaryaccordion" [style.maxHeight]="barclick ? '665px' : '44px'">

      <div id="outputsummaryaccordion-bar" (click)="clickbar()">

        <div
          style=" display:flex; justify-content:flex-start;cursor: pointer; align-items:center;padding-left:10px; background-color:transparent; height: 100%; width: 80%;">

          <h2>
            Running
          </h2>

        </div>
        <div
          style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 20%;">

          <div
            [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

            <i style="margin-top:8px;cursor: pointer;transform: scale(0.8);" class="material-icons">
              keyboard_arrow_down
            </i>
          </div>


        </div>

      </div>
      <div id="output-content">

        <div style="height: 621px; display: flex; ">
          <div style="display:flex;  height: 100%; width: 25%;">

          </div>
          <div class="item2">
            <div>3</div>
            <div>5</div>
            <div>0.75</div>
            <div>4546</div>
            <div>366</div>
            <div>235</div>
            <div>52</div>
            <div>835</div>
            <div>0.24</div>
            <div>8</div>
            <div>1.2</div>
            <div> -- </div>
            <div>82%</div>
            <div> 5%</div>
            <div>8%</div>
            <div>10%</div>
            <div>1.02</div>
            <div>.67 gm/cc</div>
            <div>45 C</div>
            <div>127 C</div>

          </div>

          <div style="display:flex; height: 100%; width: 25%; ">
          </div>
        </div>

      </div>




    </div>

  </div>
</div>













<!--<h6>runninginputsummary</h6>
 SuctionTank = {{runninginput[1].Suction_Tank_No_RN}} <br>
  BlendingTank =  {{runninginput[1].Blending_Tank_No_RN}}<br>
  BlendRatio = {{runninginput[1].Blend_Ratio_RN}} <br>
  NapthaLoad = {{runninginput[0].Naphtha_Load_RN}} <br>
  LPGLoad = {{runninginput[0].LPG_Load_RN}}<br>
  C5 Load ={{runninginput[0].C5_Load_RN}} <br>
  C6 Load = {{runninginput[0].C6_Load_RN}}<br>
  Naphtha Heater {{runninginput[0].Naphtha_Heater_RN}}<br>
  COT = {{runninginput[0].COT_RN }} <br>
  BGF PDI = {{runninginput[0].GF_PDI_RN }}<br>
  CGC SUC Pressure ={{runninginput[0].Suc_Pressure_RN}} <br>
  <br>
paraffin = {{runninginput[0].Paraffin_RN}} <br>
aromatics =  {{runninginput[0].Aromatics_RN}}<br>
density = {{runninginput[0].Density_RN}}<br>
inipratio = {{runninginput[0].IN_IP_Ratio_RN}}<br>
olefins = {{runninginput[0].Olefins_RN}} <br>
naphthene =  {{runninginput[0].Naphthene_RN}}<br>
ibp = {{runninginput[0].IBP_RN}}<br>
fbp = {{runninginput[0].FBP_RN}}<br>
<hr>

-->