<h6>runninginputsummary</h6>
 SuctionTank = {{runninginput[1].Suction_Tank_No_RN}} <br>
  BlendingTank =  {{runninginput[1].Blending_Tank_No_RN}}<br>
  BlendRatio = {{runninginput[1].Blend_Ratio_RN}} <br>
  NapthaLoad = {{runninginput[0].Naphtha_Load_RN}} <br>
  LPGLoad = {{runninginput[0].LPG_Load_RN}}<br>
  C5 Load ={{runninginput[0].C5_Load_RN}} <br>
  C6 Load = {{runninginput[0].C6_Load_RN}}<br>
  Naphtha Heater {{runninginput[0].Naphtha_Heater_RN}}<br>
  COT = {{runninginput[0].COT_RN }} <br>
  BGF PDI = {{runninginput[0].GF_PDI_RN }}<br>
  CGC SUC Pressure ={{runninginput[0].Suc_Pressure_RN}} <br>
  <br>
paraffin = {{runninginput[0].Paraffin_RN}} <br>
aromatics =  {{runninginput[0].Aromatics_RN}}<br>
density = {{runninginput[0].Density_RN}}<br>
inipratio = {{runninginput[0].IN_IP_Ratio_RN}}<br>
olefins = {{runninginput[0].Olefins_RN}} <br>
naphthene =  {{runninginput[0].Naphthene_RN}}<br>
ibp = {{runninginput[0].IBP_RN}}<br>
fbp = {{runninginput[0].FBP_RN}}<br>
<hr>



