<hr>
<h3>1.1.1 input</h3>
<br>
<form (ngSubmit)="simulate()">
  SuctionTank = <input type="number" name="SuctionTank" [(ngModel)]="suctiontank"><br>
  BlendingTank =  <input type="number" name="BlendingTank" [(ngModel)]="blendingtank"><br>
  BlendRatio =  <input type="number" name="BlendRatio" [(ngModel)]="blendratio"><br>
  NapthaLoad =  <input appTabpress type="number" (click)="transferblendratio()" name="NapthaLoad" [(ngModel)]="naphthaload"><br>
  LPGLoad = <input type="number" name="LPGLoad" [(ngModel)]="lpgl"><br>
  C5 Load = <input type="number" name="C5 Load" [(ngModel)]="c5"><br>
  C6 Load = <input type="number" name="C6 Load" [(ngModel)]="c6"><br>
  Naphtha Heater <input type="number" name="Naphtha Heater" [(ngModel)]="nh"><br>
  COT = <input type="number" name="COT" [(ngModel)]="cot"><br>
  BGF PDI = <input type="number" name="BGF PDI" [(ngModel)]="pdi"><br>
  CGC SUC Pressure = <input type="number" name="CGC SUC Pressure" [(ngModel)]="pressure"><br>
    

    <input class="btn btn-success" type="submit" value="Simulate">
</form>
{{ blendratio }}