<div class="container">
  <div class="inputparameter">
    <div style="width: 100%;height:10%; background-color: transparent;">
      <h2>User Defined Input</h2>
    </div>
    <div style="width: 100%;height:90%; background-color: transparent;display:flex; flex-direction:row">
      <div style="width: 70%;height:100%;background-color: transparent;">
        <div class="item1">
          <div>Suction Tank</div>
          <div>Blending Tank</div>
          <div>Blend Ratio</div>
          <div>Naptha Load</div>
          <div>LPG Load</div>
          <div>C5 Load</div>
          <div>C6 Load</div>
          <div>COT</div>
          <div>GF PDI</div>
          <div>Heater Count</div>
          <div>CGC Pressure</div>
        </div>
      </div>
      <div style="width: 30%;height:100%; background-color: transparent;">
        <div class="item2">
          <div>3</div>
          <div> 5</div>
          <div>0.75</div>
          <div>4556</div>
          <div>366</div>
          <div>235</div>
          <div>52</div>
          <div>834</div>
          <div>0.28</div>
          <div>8</div>
          <div>1.2</div>
        </div>
      </div>
    </div>

  </div>


</div>
<!--<hr>
<h4 class ="h4">1.1.1 input</h4>
<form (ngSubmit)="simulate()">
  SuctionTank = <input type="number" name="SuctionTank" [(ngModel)]="suctiontank"><br>
  BlendingTank =  <input type="number" name="BlendingTank" [(ngModel)]="blendingtank"><br>
  BlendRatio =  <input type="number" name="BlendRatio" [(ngModel)]="blendratio"><br>
  NapthaLoad =  <input appTabpress type="number" (click)="transferblendratio()" name="NapthaLoad" [(ngModel)]="naphthaload"><br>
  LPGLoad = <input type="number" name="LPGLoad" [(ngModel)]="lpgl"><br>
  C5 Load = <input type="number" name="C5 Load" [(ngModel)]="c5"><br>
  C6 Load = <input type="number" name="C6 Load" [(ngModel)]="c6"><br>
  Naphtha Heater <input type="number" name="Naphtha Heater" [(ngModel)]="nh"><br>
  COT = <input type="number" name="COT" [(ngModel)]="cot"><br>
  BGF PDI = <input type="number" name="BGF PDI" [(ngModel)]="pdi"><br>
  CGC SUC Pressure = <input type="number" name="CGC SUC Pressure" [(ngModel)]="pressure"><br>
    

    <input class="btn btn-success" type="submit" value="Simulate">
</form>
{{ blendratio }}
-->