
<div class="container">
  <div class="input">


    <div id="inputaccordion" [style.maxHeight]="barclick ? '394px' : '40px'">

      <div id="inputaccordion-bar" (click)="clickbar()">

        <div
          style=" display:flex; justify-content:center;cursor: pointer; align-items:center; background-color:transparent; height: 100%; width: 80%;">

          <h2>
            Running Input
          </h2>

        </div>
        <div
          style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 20%;">

          <div
            [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

            <i style="margin-top:8px;cursor: pointer;" class="material-icons">
              keyboard_arrow_down
            </i>
          </div>


        </div>

      </div>
      <div id="input-content">

        <div style="height: 354px; display: flex; ">
          <div style="display:flex; height: 100%; width: 33%;">

          </div>
          <div class="item1">
            <div>3</div>
            <div> 5</div>
            <div>0.75</div>
            <div>4556</div>
            <div>366</div>
            <div>235</div>
            <div>52</div>
            <div>834</div>
            <div>0.28</div>
            <div>8</div>
            <div>1.2</div>
          </div>

          <div style="display:flex;   height: 100%; width: 33%; ">
          </div>
        </div>

      </div>



    </div>

  </div>
</div>


<!--

<hr>
<h4> 1.2.1 runninginputs </h4><br>
  SuctionTank = {{runninginput[1].Suction_Tank_No_RN}}<br>
  BlendingTank = {{runninginput[1].Blending_Tank_No_RN}} <br>
  BlendRatio = {{runninginput[1].Blend_Ratio_RN}} <br>
  NapthaLoad = {{runninginput[0].Naphtha_Load_RN}} <br>
  LPGLoad = {{runninginput[0].LPG_Load_RN}}<br>
  C5 Load = {{runninginput[0].C5_Load_RN}}<br>
  C6 Load = {{runninginput[0].C6_Load_RN}}<br>
  Naphtha Heater = {{runninginput[0].Naphtha_Heater_RN}}<br>
  COT = {{runninginput[0].COT_RN}}<br>
  BGF PDI = {{runninginput[0].GF_PDI_RN}}<br>
  CGC SUC Pressure = {{runninginput[0].Suc_Pressure_RN}} <br>
  -->