<hr>
<h3> 1.2.1 runninginputs </h3><br>
  SuctionTank = {{runninginput[1].Suction_Tank_No_RN}}<br>
  BlendingTank = {{runninginput[1].Blending_Tank_No_RN}} <br>
  BlendRatio = {{runninginput[1].Blend_Ratio_RN}} <br>
  NapthaLoad = {{runninginput[0].Naphtha_Load_RN}} <br>
  LPGLoad = {{runninginput[0].LPG_Load_RN}}<br>
  C5 Load = {{runninginput[0].C5_Load_RN}}<br>
  C6 Load = {{runninginput[0].C6_Load_RN}}<br>
  Naphtha Heater = {{runninginput[0].Naphtha_Heater_RN}}<br>
  COT = {{runninginput[0].COT_RN}}<br>
  BGF PDI = {{runninginput[0].GF_PDI_RN}}<br>
  CGC SUC Pressure = {{runninginput[0].Suc_Pressure_RN}} <br>