.container {
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(27.77px, 83.33px));
  grid-template-rows: 185px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.container>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  font-family: Open Sans;
}


#nirparameter {
  grid-column: 1/2;

  background-color: rgba(155, 155, 155, .26);
}

#nirmodel {
  grid-column: 2/3;

  background-color: rgb(119, 114, 114);
}

#nirreal {
  grid-column: 3/-1;

  background-color: rgb(88, 77, 77);
}
