<div class="container">
  <div id="rninput">
    <app-runninginput></app-runninginput>

  </div>
  <div id="bfinput">
    <app-bestfitinput></app-bestfitinput>

  </div>



  <div id="pminput">
    <app-profitmaxinput></app-profitmaxinput>
  </div>
  <div id="nhinput">
    <app-nexthourinput></app-nexthourinput>
  </div>
  <div id="rnquality">
    <app-runningquality></app-runningquality>
  </div>
  <div id="bfquality">
    <app-bestfitquality></app-bestfitquality>
  </div>
  <div id="pmquality">
    <app-profitmaxquality></app-profitmaxquality>
  </div>
  <div id="nhquality">
    <app-nexthourquality></app-nexthourquality>
  </div>
  <div id="udinputquality">
    <!-- <h2 style="position:absolute; top: 115px; left: 150px; color:#6d6d6d; "> {{newud.id}}</h2> -->
    <app-userdefinedinputs></app-userdefinedinputs>
  </div>
  <div id="blendquality">
    <app-blendcomparison></app-blendcomparison>
  </div>
  <div id="blank-row1">
    <div style="width: 97% ;height:100%; "></div>
    <div style=" width: 3% ;height:100%; background:transparent;">
      <div (click)="clickbar()" id="qualityaccordion-bar">
        <div
          [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">
          <i style="cursor: pointer;transform: scale(1.1); color: #6d6d6d;;" class="fa fa-caret-down"
            aria-hidden="true"></i>

        </div>

      </div>
    </div>
  </div>
</div>

<!--<hr>
<div class="row">
    <div class="col text-center">
      <button class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="giveinputs()">Next</button>
    </div>
</div>



<div class="wrapper">    
  <div class="row">
    <div class="col-sm-2.5" >
    <app-userdefinedinputs [nextclicked]="nextclicked"></app-userdefinedinputs>
    <app-blendcomparison [nextclicked]="nextclicked"></app-blendcomparison>
    </div>
    <div class="col-sm-2.5"><app-modelinputscomparion [nextclicked]="nextclicked"></app-modelinputscomparion> </div>
    <div class="col-sm-2.5" ><app-modelblendquality [nextclicked]="nextclicked"></app-modelblendquality></div>
    
    
  </div>
</div>
-->