<!--<h6>runningoutput</h6>
Ethylene = {{runningoutput.Ethylene_RN}} <br>
Propylene = {{runningoutput.Propylene_RN}} <br>
RPG = {{runningoutput.RPG_RN}} <br>
C4 Mix ={{runningoutput.C4_Mix_RN}} <br>
Fuel Gas = {{runningoutput.Fuel_Gas_RN}} <br>
Benzene = {{runningoutput.Benzene_RN}} <br>
1,3-Buta-diene ={{runningoutput.BD_RN}} <br>
<button type="button" (click)="getconfirm()" class="btn btn-danger">Confirm</button>

-->

<div class="container">
<div id="name"></div>
<div id="output" >

</div>
<div id="confirm">
<div class = "containerconfirmation" style = "background-color: transparent; display: grid; grid-template-columns: repeat(2, minmax(23.33px, 70px)); grid-template-rows: 44px; column-gap:10px;">
<div style= "display = flex; background-color: rgb(179, 202, 193); grid-coloum: 1/2;"(click)="confirmation()"></div>
<div style= "display = flex; background-color: rgb(179, 202, 193); grid-coloum: 2/-1;" (click)="copy()"></div>
</div>
</div>
</div>

