<h3>
  monthlyplanning 
</h3>
<button (click)="getcomingmonthplan()">coming month plan</button> <br><br>

<ng-container *ngFor="let obj of comingmonthplan; index as i">
  <li>
     {{ obj.id }}
  </li>
</ng-container>

<form (ngSubmit)="getanymonthplan()">
  <input type="text" name="from date" (click)="showcalender1()" [(ngModel)]="fromdate" placeholder="from date"><br>
  <input type="text" name="to date" (click)="showcalender2()" [(ngModel)]="todate" placeholder="to date"><br>
  <input type="submit" value="given range plan">
</form>

<ng-container *ngIf="flag1 == true && flag2 == false">
  <ngb-datepicker #dp [(ngModel)]="model" (select)="onFromDateSelect($event)" ></ngb-datepicker>
</ng-container>

<ng-container *ngIf="flag2 == true && flag1 == false">
    <ngb-datepicker #dp [(ngModel)]="model" (select)="onToDateSelect($event)" ></ngb-datepicker>
  </ng-container>


 
 
