<h3>2.4 bestfitinputsummary</h3> <br>
 SuctionTank = {{bestfitinput.Suction_Tank_No_BF}} <br>
  BlendingTank =  {{bestfitinput.Blending_Tank_No_BF}}<br>
  BlendRatio = {{bestfitinput.Blend_Ratio_BF}} <br>
  NapthaLoad = {{bestfitinput.Naphtha_Load_BF}} <br>
  LPGLoad = {{bestfitinput.LPG_Load_BF}}<br>
  C5 Load ={{bestfitinput.C5_Load_BF}} <br>
  C6 Load = {{bestfitinput.C6_Load_BF}}<br>
  Naphtha Heater {{bestfitinput.Naphtha_Heater_BF}}<br>
  COT = {{bestfitinput.COT_BF}} <br>
  BGF PDI = {{bestfitinput.GF_PDI_BF}}<br>
  CGC SUC Pressure ={{bestfitinput.Suc_Pressure_BF}} <br>
  <br>
paraffin = {{bestfitinput.Paraffin_BF}} <br>
aromatics =  {{bestfitinput.Aromatics_BF}}<br>
density = {{bestfitinput.Density_BF}}<br>
inipratio = {{bestfitinput.IN_IP_Ratio_BF}}<br>
olefins = {{bestfitinput.Olefins_BF}} <br>
naphthene =  {{bestfitinput.Naphthene_BF}}<br>
ibp = {{bestfitinput.IBP_BF}}<br>
fbp = {{bestfitinput.FBP_BF}}<br>


