<h3>2.3 profitmaxinputsummary</h3> <br>
 SuctionTank = {{profitmaxinput.Suction_Tank_No_PM}} <br>
  BlendingTank =  {{profitmaxinput.Blending_Tank_No_PM}}<br>
  BlendRatio = {{profitmaxinput.Blend_Ratio_PM}} <br>
  NapthaLoad = {{profitmaxinput.Naphtha_Load_PM}} <br>
  LPGLoad = {{profitmaxinput.LPG_Load_PM}}<br>
  C5 Load ={{profitmaxinput.C5_Load_PM}} <br>
  C6 Load = {{profitmaxinput.C6_Load_PM}}<br>
  Naphtha Heater {{profitmaxinput.Naphtha_Heater_PM}}<br>
  COT = {{profitmaxinput.COT_PM }} <br>
  BGF PDI = {{profitmaxinput.GF_PDI_PM}}<br>
  CGC SUC Pressure ={{profitmaxinput.Suc_Pressure_PM}} <br>
  <br>
paraffin = {{profitmaxinput.Paraffin_PM}} <br>
aromatics =  {{profitmaxinput.Aromatics_PM}}<br>
density = {{profitmaxinput.Density_PM}}<br>
inipratio = {{profitmaxinput.IN_IP_Ratio_PM}}<br>
olefins = {{profitmaxinput.Olefins_PM}} <br>
naphthene =  {{profitmaxinput.Naphthene_PM}}<br>
ibp = {{profitmaxinput.IBP_PM}}<br>
fbp = {{profitmaxinput.FBP_PM}}<br>



