<div class="container">
  <div class="quality">


    <div id="qualityaccordion" [style.maxHeight]="barclick ? '394px' : '40px'">

      <div id="qualityaccordion-bar" (click)="clickbar()">

        <div
          style=" display:flex; justify-content:center; cursor: pointer; align-items:center; background-color:transparent; height: 100%; width: 90%;">

          <h2>
            Profit Max Quality
          </h2>

        </div>
        <div
          style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 10%;">

          <div
            [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

            <i style="margin-top:8px;cursor: pointer; " class="material-icons">
              keyboard_arrow_down
            </i>
          </div>


        </div>

      </div>
      <div id="quality-content">

        <div style="height: 264px; display: flex; ">
          <div style="display:flex;height: 100%; width: 25%;">

          </div>
          <div class="item2">
            <div>82%</div>
            <div> 5%</div>
            <div>8%</div>
            <div>10%</div>
            <div>1.02</div>
            <div>.67 gm/cc</div>
            <div>45 C</div>
            <div>127 C</div>

          </div>

          <div style="display:flex;   height: 100%; width: 25%; ">
          </div>
        </div>

      </div>



    </div>

  </div>
</div>
<!--<hr>
<h4> 1.3.2 profitmaxblendedquality </h4>
  Paraffin = {{profitmaxquality.Paraffin_PM}}<br>
  Olefins = {{profitmaxquality.Olefins_PM}} <br>
  Aromatics = {{profitmaxquality.Aromatics_PM}} <br>
  Naphthene = {{profitmaxquality.Naphthene_PM}} <br>
  IN_IP_Ratio = {{profitmaxquality.IN_IP_Ratio_PM}}<br>
  Density = {{profitmaxquality.Density_PM}}<br>
  IBP = {{profitmaxquality.IBP_PM}}<br>
  FBP = {{profitmaxquality.FBP_PM}}<br>-->