<ng-container *ngIf="!simulationflag">
  <div class="container">

    <div *ngIf="flag==1" id="tankqualityavg"></div>

    <div *ngIf="flag==2" id="tankqualityreal"></div>

    <div id="tank1">
      <app-tankno1></app-tankno1>
    </div>
    <div id="tank2">
      <app-tankno2></app-tankno2>
    </div>
    <div id="tank3">
      <app-tankno3></app-tankno3>
    </div>
    <div id="tank4">
      <app-tankno4></app-tankno4>
    </div>
    <div id="tank5">
      <app-tankno5></app-tankno5>
    </div>
  </div>
</ng-container>


<!-- ******************************************************************** -->

<ng-container *ngIf="simulationflag">
  <div class="container-2">

    <div id="maincolumn"></div>

    <div id="t1">
      <app-tankno1 [simulationflag]="simulationflag"></app-tankno1>
    </div>
    <div id="t2"></div>
    <div id="t3"></div>
    <div id="t4"></div>
    <div id="t5"></div>

  </div>

</ng-container>


<!--
<button (click)="getsuctionblending()">sbtank</button> <br>
{{ sbtank.Suction_Tank_No_RN }} <br>
{{ sbtank.Blending_Tank_No_RN }} <br>

<button (click)="getreceivingnaphtha()">receivednaphtha</button> <br>
{{ receivednaphtha }} <br>

<button (click)="getalltanks()">alltankslevels</button> <br>
{{ alltankslevels }} <br>
<hr>
<div class="container">    
  <div class="row">
    <div class="col-sm-2.5" ><app-tankno1></app-tankno1></div>
    <div class="col-sm-2.5" ><app-tankno2></app-tankno2></div>
    <div class="col-sm-2.5" ><app-tankno3></app-tankno3></div>
    <div class="col-sm-2.5"><app-tankno4></app-tankno4> </div>
    <div class="col-sm-2.5"><app-tankno5></app-tankno5></div>
  </div>
 <div class="row">
     <app-inputparameters></app-inputparameters>
    </div>
</div>
-->
