<ng-container *ngIf="!simulationflag">
  <div class="container">

    <div *ngIf="flag==1" id="tankqualityavg"></div>

    <div *ngIf="flag==2" id="tankqualityreal"></div>

    <div *ngIf="flag" (click)="flag=0"
      style="position: fixed; top: 0px; left:0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.55); z-index: 2; ">
    </div>


    <!-- <div id ="td1" style = " height:100px; width:100px ;background-color:red; z-index:5;">
  
  
        </div> -->

    <!-- ** ** ** Starting of the Drop-Down for the tank-1 ** ** ** */  -->

    <div id="tm1">
      <div id="th1" [style.height]="percentlevel+'%'"></div>
    </div>

    <div id="accord-container">

      <div id="accordion" [style.maxHeight]="barclick ? '172px' : '44px'">

        <div id="accordion-bar" (click)="clickbar()">

          <div
            style="display :flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">
            <h2>A</h2>
          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent; height: 100%; width: 50%;">

            <span>
              Suction
            </span>

          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">

            <div
              [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

              <i style="margin-top:8px;" class="material-icons">
                keyboard_arrow_down
              </i>
            </div>


          </div>


        </div>

        <!-- ** ** **  Starting of Tank-1 inside dropdown content ** ** -->

        <div id="content">

          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div id="tankslevel">
              Level

            </div>
            <div id="lavelvalue">
              : {{level}} mm
            </div>
          </div>
          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div
              style="display:flex; justify-content:flex-start; align-items:center;  background-color:transparent;height: 100%; width: 40%;">
              Weight
            </div>
            <div
              style="display:flex; justify-content:flex-start; align-items:center; background-color:transparent; height: 100%; width: 60%;font-size: 1vw; ">
              :{{weight}} MT </div>
          </div>
          <div class="dropdownelement" (click)="linkclick(1)">
            <p>Average Quality</p>
          </div>
          <div class="dropdownelement" (click)="linkclick(2)">
            <p>Real Quality</p>
          </div>

        </div>

      </div>

    </div>

    <!-- ** ** ** Ending of the Drop-Down for the tank-1 ** ** **  -->
    <!-- ** ** ** Ending of Tank-1 inside dropdown content ** ** ** -->

    <!-- ** ** ** Starting of the Drop-Down for the tank-2 ** ** ** */  -->

    <div id="tm2">
      <div id="th2" [style.height]="percentlevel+'%'"></div>
    </div>

    <div id="accord-container2">

      <div id="accordion" [style.maxHeight]="barclick ? '172px' : '44px'">

        <div id="accordion2-bar" (click)="clickbar()">

          <div
            style="display :flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">
            <h2>B</h2>
          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent; height: 100%; width: 50%;">

            <span>
              Receiving
            </span>

          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">

            <div
              [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

              <i style="margin-top:8px;" class="material-icons">
                keyboard_arrow_down
              </i>
            </div>


          </div>


        </div>

        <!-- ** ** **  Starting of Tank-2 inside dropdown content ** ** -->

        <div id="content2">

          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div id="tankslevel">
              Level

            </div>
            <div id="lavelvalue">
              : {{level}} mm
            </div>
          </div>
          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div
              style="display:flex; justify-content:flex-start; align-items:center;  background-color:transparent;height: 100%; width: 40%;">
              Weight

            </div>
            <div
              style="display:flex; justify-content:flex-start; align-items:center; background-color:transparent; height: 100%; width: 60%;font-size: 1vw; ">
              :{{weight}} MT </div>
          </div>
          <div class="dropdownelement" (click)="linkclick(1)">
            <p>Average Quality</p>
          </div>
          <div class="dropdownelement" (click)="linkclick(2)">
            <p>Real Quality</p>
          </div>

        </div>

      </div>

    </div>

    <!-- ** ** ** Ending of the Drop-Down for the tank-2 ** ** **  -->
    <!-- ** ** ** Ending of Tank-2 inside dropdown content ** ** ** -->


    <!-- ** ** ** Starting of the Drop-Down for the tank-3 ** ** ** */  -->

    <div id="tm3">
      <div id="th3" [style.height]="percentlevel+'%'"></div>
    </div>

    <div id="accord-container3">

      <div id="accordion" [style.maxHeight]="barclick ? '172px' : '44px'">

        <div id="accordion3-bar" (click)="clickbar()">

          <div
            style="display :flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">
            <h2>C</h2>
          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent; height: 100%; width: 50%;">

            <span>
              Blending
            </span>

          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">

            <div
              [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

              <i style="margin-top:8px;" class="material-icons">
                keyboard_arrow_down
              </i>
            </div>


          </div>


        </div>

        <!-- ** ** **  Starting of Tank-3 inside dropdown content ** ** -->

        <div id="content3">

          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div id="tankslevel">
              Level

            </div>
            <div id="lavelvalue">
              : {{level}} mm
            </div>
          </div>
          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div
              style="display:flex; justify-content:flex-start; align-items:center;  background-color:transparent;height: 100%; width: 40%;">
              Weight

            </div>
            <div
              style="display:flex; justify-content:flex-start; align-items:center; background-color:transparent; height: 100%; width: 60%;font-size: 1vw; ">
              :{{weight}} MT </div>
          </div>
          <div class="dropdownelement" (click)="linkclick(1)">
            <p>Average Quality</p>
          </div>
          <div class="dropdownelement" (click)="linkclick(2)">
            <p>Real Quality</p>
          </div>

        </div>

      </div>

    </div>

    <!-- ** ** ** Ending of the Drop-Down for the tank-3 ** ** **  -->
    <!-- ** ** ** Ending of Tank-3 inside dropdown content ** ** ** -->


    <!-- ** ** ** Starting of the Drop-Down for the tank-4 ** ** ** */  -->

    <div id="tm4">
      <div id="th4" [style.height]="percentlevel+'%'"></div>
    </div>

    <div id="accord-container4">

      <div id="accordion" [style.maxHeight]="barclick ? '172px' : '44px'">

        <div id="accordion4-bar" (click)="clickbar()">

          <div
            style="display :flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">
            <h2>D</h2>
          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent; height: 100%; width: 50%;">

            <span>

            </span>

          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">

            <div
              [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

              <i style="margin-top:8px;" class="material-icons">
                keyboard_arrow_down
              </i>
            </div>


          </div>


        </div>

        <!-- ** ** **  Starting of Tank-4 inside dropdown content ** ** -->

        <div id="content4">

          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div id="tankslevel">
              Level

            </div>
            <div id="lavelvalue">
              : {{level}} mm
            </div>
          </div>
          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div
              style="display:flex; justify-content:flex-start; align-items:center;  background-color:transparent;height: 100%; width: 40%;">
              Weight

            </div>
            <div
              style="display:flex; justify-content:flex-start; align-items:center; background-color:transparent; height: 100%; width: 60%;font-size: 1vw; ">
              :{{weight}} MT </div>
          </div>
          <div class="dropdownelement" (click)="linkclick(1)">
            <p>Average Quality</p>
          </div>
          <div class="dropdownelement" (click)="linkclick(2)">
            <p>Real Quality</p>
          </div>

        </div>

      </div>

    </div>

    <!-- ** ** ** Ending of the Drop-Down for the tank-4 ** ** **  -->
    <!-- ** ** ** Ending of Tank-4 inside dropdown content ** ** ** -->


    <!-- ** ** ** Starting of the Drop-Down for the tank-4 ** ** ** */  -->

    <div id="tm5">
      <div id="th5" [style.height]="percentlevel+'%'"></div>
    </div>

    <div id="accord-container5">

      <div id="accordion" [style.maxHeight]="barclick ? '172px' : '44px'">

        <div id="accordion5-bar" (click)="clickbar()">

          <div
            style="display :flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">
            <h2>E</h2>
          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent; height: 100%; width: 50%;">

            <span>

            </span>

          </div>

          <div
            style=" display:flex; justify-content:center; align-items:center; background-color:transparent;height: 100%; width: 25%;">

            <div
              [ngStyle]="{'transform': 'rotate('+irotate+'deg)', 'transform-origin':'50% 57%','transition': 'all 0.2s ease-in'}">

              <i style="margin-top:8px;" class="material-icons">
                keyboard_arrow_down
              </i>
            </div>


          </div>


        </div>

        <!-- ** ** **  Starting of Tank-4 inside dropdown content ** ** -->

        <div id="content5">

          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div id="tankslevel">
              Level

            </div>
            <div id="lavelvalue">
              : {{level}} mm
            </div>
          </div>
          <div style="height: 30px; display: flex; align-items: center; padding: 8px;">
            <div
              style="display:flex; justify-content:flex-start; align-items:center;  background-color:transparent;height: 100%; width: 40%;">
              Weight

            </div>
            <div
              style="display:flex; justify-content:flex-start; align-items:center; background-color:transparent; height: 100%; width: 60%;font-size: 1vw; ">
              :{{weight}} MT </div>
          </div>
          <div class="dropdownelement" (click)="linkclick(1)">
            <p>Average Quality</p>
          </div>
          <div class="dropdownelement" (click)="linkclick(2)">
            <p>Real Quality</p>
          </div>

        </div>

      </div>

    </div>

    <!-- ** ** ** Ending of the Drop-Down for the tank-5 ** ** **  -->
    <!-- ** ** ** Ending of Tank-5 inside dropdown content ** ** ** -->






    <!-- ** ** ** ** ** -->




    <div id="td2">

    </div>

    <div id="tm3">

    </div>
    <div id="tb3">

    </div>
    <div id="td3">

    </div>
    <div id="tm4">

    </div>
    <div id="tb4">

    </div>
    <div id="td4">

    </div>
    <div id="tm5">

    </div>
    <div id="tb5">

    </div>
    <div id="td5">

    </div>



  </div>


</ng-container>




<!-- ***************************for page no 2  ***************************************** -->

<ng-container *ngIf="simulationflag">
  <div class="container-2">

    <div id="maincolumn"></div>

    <div id="t1">
      <app-tankno1 [simulationflag]="simulationflag"></app-tankno1>
    </div>
    <div id="t2">
      <app-tankno2 [simulationflag]="simulationflag"></app-tankno2>
    </div>
    <div id="t3">
      <app-tankno3 [simulationflag]="simulationflag"></app-tankno3>
    </div>
    <div id="t4">
      <app-tankno4 [simulationflag]="simulationflag"></app-tankno4>
    </div>
    <div id="t5">
      <app-tankno5 [simulationflag]="simulationflag"></app-tankno5>
    </div>


    <div id="t1l">


    </div>
    <div id="t2l">

    </div>
    <div id="t3l">

    </div>
    <div id="t4l">

    </div>
    <div id="t5l">

    </div>
  </div>

</ng-container>


<!--
<button (click)="getsuctionblending()">sbtank</button> <br>
{{ sbtank.Suction_Tank_No_RN }} <br>
{{ sbtank.Blending_Tank_No_RN }} <br>

<button (click)="getreceivingnaphtha()">receivednaphtha</button> <br>
{{ receivednaphtha }} <br>

<button (click)="getalltanks()">alltankslevels</button> <br>
{{ alltankslevels }} <br>
<hr>
<div class="container">    
  <div class="row">
    <div class="col-sm-2.5" ><app-tankno1></app-tankno1></div>
    <div class="col-sm-2.5" ><app-tankno2></app-tankno2></div>
    <div class="col-sm-2.5" ><app-tankno3></app-tankno3></div>
    <div class="col-sm-2.5"><app-tankno4></app-tankno4> </div>
    <div class="col-sm-2.5"><app-tankno5></app-tankno5></div>
  </div>
 <div class="row">
     <app-inputparameters></app-inputparameters>
    </div>
</div>
-->