*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

.container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(23, minmax(16.66666px, 50px));

	grid-template-rows: 35px 117px 153px 44px 85px 43px 27px;

	grid-template-areas: "b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1"
		"b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2"
		"tm1 tm1 tm1 . . tm2 tm2 tm2 . . tm3 tm3 tm3 . . tm4 tm4 tm4 . . tm5 tm5 tm5"
		"tb1 tb1 tb1 . . tb2 tb2 tb2 . . tb3 tb3 tb3 . . tb4 tb4 tb4 . . tb5 tb5 tb5";

	width: 100%;
	height: 100%;
	justify-content: center;
}

.container > div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #6d6d6d;
	font-family: Open Sans;
}

#blank-row1 {
	/* grid-column: 1/-1;*/
	grid-area: b1;
	background-color: transparent;
}

#blank-row2 {
	/* grid-column: 1/-1;*/
	grid-area: b2;
	background-color: transparent;
}

#blank-row3 {
	/* grid-column: 1/-1;*/
	grid-area: b3;
	background-color: transparent;
}

#tankqualityavg {
	grid-column: 10/15;
	grid-row: 2/6;
	z-index: 4;
	background-color: transparent;
	border-radius: 5px 5px 5px 5px;
}

#tankqualityreal {
	grid-column: 10/15;
	grid-row: 3/5;
	z-index: 4;
	background-color: transparent;
	border-radius: 5px 5px 5px 5px;
}

#tm1 {
	/* grid-column: 1/-1;*/
	grid-area: tm1;
	background-color: #f2f2f2;
	border-radius: 5px 5px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#tm2 {
	/*   grid-column: 9/-9;
	  grid-row: 3/4;*/

	grid-area: tm2;
	background-color: #f2f2f2;
	border-radius: 5px 5px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#tm3 {
	/*  grid-column: 1/-1;
	  grid-row: 2/3;*/

	grid-area: tm3;
	background-color: #f2f2f2;
	border-radius: 5px 5px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#tm4 {
	/*  grid-column: 1/-1;
	grid-row: 4/5;*/
	grid-area: tm4;
	background-color: #f2f2f2;
	border-radius: 5px 5px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

#tm5 {
	/*   grid-column: 15/-15;
	  grid-row: 5/6;*/
	grid-area: tm5;
	background-color: #f2f2f2;
	border-radius: 5px 5px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

/* ** ** ** common properties for  all five tanks ** ** ** */

#accordion-bar,
#accordion2-bar,
#accordion3-bar,
#accordion4-bar,
#accordion5-bar {
	background-color: transparent;
	transition: background-color 0.2s ease-out;
	position: relative;
	overflow: hidden;
}

.dropdownelement {
	background-color: transparent;
	transition: background-color 0.2s ease-out;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 8px;
	position: relative;
	overflow: hidden;
}
#accordion-bar:hover,
#accordion2-bar:hover,
#accordion3-bar:hover,
#accordion4-bar:hover,
#accordion5-bar:hover,
.dropdownelement:hover {
	background-color: rgba(231, 231, 231, 0.55);
	cursor: pointer;
}

p {
	margin: 0;
	color: #3a71b8;
	font-family: Open Sans Semibold;
}

#accordion,
#accordion2,
#accordion3,
#accordion4,
#accordion5 {
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 1.0px 1px 0.05px #acacac, 0.3px 1.5px 3.0px 0.8px #cccccc;
	border-radius: 0 0 5px 5px;
	color: #6d6d6d;

	overflow: hidden;
	transition: max-height 0.2s ease-in;
}

#accordion-bar,
#accordion2-bar,
#accordion3-bar,
#accordion4-bar,
#accordion5-bar {
	width: 100%;
	height: 44px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#content,
#content2,
#content3,
#content4,
#content5 {
	width: 100%;
	height: 128px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

h2 {
	margin: 0;
	font-size: 24px;
	font-family: Open Sans Semibold;
	color: #6d6d6d;
}
span {
	margin-top: 4px;
	font-size: 14px;
	color: rgb(149, 178, 202);
	font-family: Open Sans;
}
#tankslevel {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: transparent;
	height: 100%;
	width: 40%;
}
#levelvalue {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: transparent;
	height: 100%;
	width: 60%;
}

/* ** ** ** End of common properties for  all five tanks ** ** ** */

/* ** ** ** Starting of the Drop-Down for the tank-1 ** ** ** */
#accord-container {
	display: flex;
	grid-area: tb1;
	grid-column: 1/4;
	grid-row: 4/7;
	flex-direction: column;
	justify-content: flex-start;
}

/* ** ** ** Ending of the Drop-Down for the tank-1 ** ** ** */

/* ** ** ** Starting of the Drop-Down for the tank-2 ** ** ** */

#accord-container2 {
	display: flex;
	grid-area: tb2;
	grid-row: 4/7;
	grid-column: 6/9;
	flex-direction: column;
	justify-content: flex-start;
}
#th1,
#th2,
#th3,
#th4,
#th5 {
	background: #dfeaf3;
	width: 100%;
	bottom: 0px;
	z-index: 2;
}

/* ** ** ** Ending of the Drop-Down for the tank-1 ** ** ** */

/* ** ** ** Starting of the Drop-Down for the tank-3 ** ** ** */

#accord-container3 {
	display: flex;
	grid-area: tb3;
	grid-row: 4/7;
	grid-column: 11/14;
	flex-direction: column;
	justify-content: flex-start;
}

/* ** ** ** Ending of the Drop-Down for the tank-3 ** ** ** */

/* ** ** ** Starting of the Drop-Down for the tank-4 ** ** ** */

#accord-container4 {
	display: flex;
	grid-area: tb4;
	grid-row: 4/7;
	grid-column: 16 /19;
	flex-direction: column;
	justify-content: flex-start;
}

/* ** ** ** Ending of the Drop-Down for the tank-4 ** ** ** */

/* ** ** ** Starting of the Drop-Down for the tank-5 ** ** ** */

#accord-container5 {
	display: flex;
	grid-area: tb5;
	grid-row: 4/7;
	grid-column: 21/-1;
	flex-direction: column;
	justify-content: flex-start;
}

/* ** ** ** Ending of the Drop-Down for the tank-5 ** ** ** */

/* ------------------testing----------------------*/

ul {
	list-style-type: none;
}

/* ------------------testing----------------------*/

#td2 {
	/*   grid-column: 9/-9;
	  grid-row: 3/4;*/

	grid-area: td2;
	background-color: transparent;
}

#td3 {
	/*  grid-column: 1/-1;
	  grid-row: 2/3;*/

	grid-area: td3;
	background-color: transparent;
}

#td4 {
	/*  grid-column: 1/-1;
	grid-row: 4/5;*/
	grid-area: td4;
	background-color: transparent;
}

#td5 {
	/*   grid-column: 15/-15;
	  grid-row: 5/6;*/
	grid-area: td5;
	background-color: transparent;
}

/*-----------------------------------------------------------------*/
.container-2 {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(105, minmax(3.33333px, 10px));
	grid-template-rows: 40px 96px 586px 28px;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.container-2 > div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: white;
	font-family: Open Sans;
}

#blank-row1 {
	grid-column: 1/-1;
	grid-row: 1/1;
	background-color: transparent;
}

#t1 {
	grid-column: 17/26;
	grid-row: 3/3;
	background-color: transparent;
}

#t2 {
	grid-column: 37/46;
	grid-row: 3/3;
	background-color: transparent;
}

#t3 {
	grid-column: 57/66;
	grid-row: 3/3;
	background-color: transparent;
}

#t4 {
	grid-column: 77/86;
	grid-row: 3/3;
	background-color: transparent;
}

#t5 {
	grid-column: 97/-1;
	grid-row: 3/3;
	background-color: transparent;
}

#t1l {
	grid-column: 17/26;
	grid-row: 2/2;
	background-color: #f2f2f2;
	border-radius: 5px 5px 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

#t2l {
	grid-column: 37/46;
	grid-row: 2/2;
	background-color: #f2f2f2;
	border-radius: 5px 5px 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

#t3l {
	grid-column: 57/66;
	grid-row: 2/2;
	background-color: #f2f2f2;
	border-radius: 5px 5px 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

#t4l {
	grid-column: 77/86;
	grid-row: 2/2;
	background-color: #f2f2f2;
	border-radius: 5px 5px 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

#t5l {
	grid-column: 97/-1;
	grid-row: 2/2;
	background-color: #f2f2f2;
	border-radius: 5px 5px 5px 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

#blank-row2 {
	grid-column: 1/-1;
	grid-row: 4/4;
	background-color: transparent;
}
.rotate {
	transition: all 0.2s ease-out;
}

/*--------------------------------------------------------------------------------------------------------*/
#maincolumn {
	grid-column: 1/13;
	grid-row: 3/3;
	background-color: transparent;
}
.item {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	height: 100%;
	width: 100%;
}
.item > div {
	height: 29.5px;

	display: flex;
	flex-direction: column;
	align-content: flex-start;
	padding-left: 10px;
	align-items: flex-start;
	font-size: 14px;
	text-align: center;
	flex-wrap: nowrap;
	color: #6d6d6d;

	font-family: Open sans;
}
#heading {
	font-size: 14px;
	text-align: center;
	flex-wrap: nowrap;
	color: #393939;
	font-family: Open sans Semibold;
}
