<!--<h6>profitmaxoutput</h6>
Ethylene = {{profitmaxoutput.Ethylene_PM}} <br>
Propylene = {{profitmaxoutput.Propylene_PM}} <br>
RPG = {{profitmaxoutput.RPG_PM}} <br>
C4 Mix ={{profitmaxoutput.C4_Mix_PM}} <br>
Fuel Gas = {{profitmaxoutput.Fuel_Gas_PM}} <br>
Benzene = {{profitmaxoutput.Benzene_PM}} <br>
1,3-Buta-diene ={{profitmaxoutput.BD_PM}} <br>
<button type="button" (click)="getconfirm()" class="btn btn-danger">Confirm</button>

-->

<div class="container">
<div id="name"></div>
<div id="output" >

</div>
<div id="confirm">
<div class = "containerconfirmation" style = "background-color: transparent; display: grid; grid-template-columns: repeat(2, minmax(23.33px, 70px)); grid-template-rows: 44px; column-gap:10px;">
<div style= "display = flex; background-color: rgb(179, 202, 193); grid-coloum: 1/2;"(click)="confirmation()"></div>
<div style= "display = flex; background-color: rgb(179, 202, 193); grid-coloum: 2/-1;"(click)="copy()"></div>
</div>
</div>
</div>



