<h3>2.1 userdefinedinputsummary</h3> <br>
  SuctionTank = {{userinputs.Suction_Tank_No_UD}} <br>
  BlendingTank =  {{userinputs.Blending_Tank_No_UD}}<br>
  BlendRatio = {{userinputs.Blend_Ratio_UD}} <br>
  NapthaLoad = {{userinputs.Naphtha_Load_UD}} <br>
  LPGLoad = {{userinputs.LPG_Load_UD}}<br>
  C5 Load ={{userinputs.C5_Load_UD}} <br>
  C6 Load = {{userinputs.C6_Load_UD}}<br>
  Naphtha Heater {{userinputs.Naphtha_Heater_UD}}<br>
  COT = {{userinputs.COT_UD }} <br>
  BGF PDI = {{userinputs.GF_PDI_UD }}<br>
  CGC SUC Pressure ={{userinputs.Suc_Pressure_UD}} <br>
  <br>
paraffin = {{userquality[0]}} <br>
aromatics =  {{userquality[1]}}<br>
density = {{userquality[2]}}<br>
inipratio = {{userquality[3]}}<br>
olefins = {{userquality[4]}} <br>
naphthene =  {{userquality[5]}}<br>
ibp = {{userquality[6]}}<br>
fbp = {{userquality[7]}}<br>
<hr>


