<div class="main-container">
    <div id="directions">
        <div style="height: 100%; width:20%"></div>

        <div style="height: 100%; width:40% ;background-color:transparent;">
            <i style="color:#6d6d6d;padding: 25px 15px 25px 45px;cursor: pointer;transform:scale(0.9);"
                class="material-icons">
                keyboard_backspace
            </i>
        </div>
        <div style="background-color:transparent ;height: 100%; width:40%">
            <i style="color:#6d6d6d; opacity: 0.4; transform: rotate(180deg) scale(0.9); padding:25px 0px 25px 25px;cursor: pointer;"
                class="material-icons">
                keyboard_backspace
            </i>
        </div>
    </div>
    <div id="main">
        <div style="height: 65%; width:100% ;background-color:transparent;display: flex;flex-direction: row;">
            <div style="background-color:transparent;height: 100%; width:10%"></div>
            <div style="height: 100%; width:3%">
                <i style="padding-top:28px;padding-left:5px;color: #6d6d6d; cursor: pointer;font-size:14px;"
                    class="far fa-circle"></i>
            </div>
            <div style="background-color:tranparent;height: 100%; width:22.66%">
                <div style="width: 100%;padding-top:34px; 
                border-bottom: 2px solid #6d6d6d"></div>
            </div>
            <div style="height: 100%; width:3%">
                <i style="padding-top:28px;padding-left:5px;color: #6d6d6d; cursor: pointer;font-size:14px;"
                    class="far fa-circle"></i>
            </div>
            <div style="background-color:tranparent;height: 100%; width:22.66%">
                <div style="width: 100%;padding-top:34px; 
                    border-bottom: 2px solid #6d6d6d"></div>
            </div>
            <div style="height: 100%; width:3%">
                <i style="padding-top:28px;padding-left:5px;color: #6d6d6d; cursor: pointer;font-size:14px;"
                    class="far fa-circle"></i>
            </div>
            <div style="background-color:tranparent;height: 100%; width:22.66%">
                <div style="width: 100%;padding-top:34px; 
                        border-bottom: 2px solid #6d6d6d"></div>
            </div>
            <div style="height: 100%; width:3%">
                <i style="padding-top:28px;padding-left:5px;color: #6d6d6d; cursor: pointer;font-size:14px;"
                    class="far fa-circle"></i>
            </div>
            <div style="background-color:transparent;height: 100%; width:10%"></div>

        </div>
        <div style="height: 35%; width:100% ;background-color:transparent; display:flex; flex-direction:row;">
            <div style="height: 100%; width:25%; background-color:transparent;padding: 0px 5px 0px 20px;">
                <h3>Select Suction & Blending Tanks</h3>
            </div>
            <div style="height: 100%; width:25%; background-color:transparent;padding: 0px 0px 0px 40px;">
                <h3>Enter Input Parameters</h3>
            </div>
            <div style="height: 100%; width:25%; background-color:transparent;padding: 0px 0px 0px 40px;">
                <h3>Confirm Output Parameters</h3>
            </div>
            <div style="height: 100%; width:25%; background-color:transparent;padding: 0px 0px 0px 60px;">
                <h3>Selection Confirmed</h3>
            </div>
        </div>

    </div>
    <div id="cancel">
        <i style="color:#6d6d6d;padding: 25px 5px 25px 105px;cursor: pointer;transform:scale(0.9);"
            class="material-icons">
            clear
        </i>
    </div>
</div>