<div class="main">
    <div id="directions">
        <div style="height: 100%; width:20%"></div>

        <div style="height: 100%; width:40% ;background-color:transparent;">
            <i style="color:#6d6d6d;padding: 25px 15px 25px 45px;cursor: pointer;transform:scale(0.9);"
                class="material-icons">
                keyboard_backspace
            </i>
        </div>
        <div style="background-color:transparent ;height: 100%; width:40%">
            <i style="color:#6d6d6d; opacity: 0.4; transform: rotate(180deg) scale(0.9); padding:25px 0px 25px 25px;cursor: pointer;"
                class="material-icons">
                keyboard_backspace
            </i>
        </div>
    </div>
    <div id="main">
        <div style="height: 65%; width:100% ;background-color:rgb(202, 228, 202);display: flex;flex-direction: row;">
            <div style="background-color:rgb(212, 179, 179) ;height: 100%; width:15%"></div>
            <div style="background-color:rgb(136, 60, 73);height: 100%; width:15%"></div>
            <div style="background-color:rgb(238, 238, 199) ;height: 100%; width:12.5%"></div>
            <div style="background-color:rgba(105, 78, 78, 0.418) ;height: 100%; width:15%"></div>
            <div style="background-color:pink;height: 100%; width:12.5%"></div>
            <div style="background-color:rgb(135, 167, 194) ;height: 100%; width:15%"></div>
            <div style="background-color:rgba(66, 28, 28, 0.178) ;height: 100%; width:15%"></div>


        </div>
        <div style="height: 35%; width:100% ;background-color:rgb(180, 207, 180);"></div>

    </div>
    <div id="cancel">
        <i style="color:#6d6d6d;padding: 25px 5px 25px 105px;cursor: pointer;transform:scale(0.9);"
            class="material-icons">
            clear
        </i>
    </div>
</div>