/* ** ** ** page-1 css ** ** ** */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}
.container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(1, minmax(70px, 210px));

	grid-template-rows: 399px;
}

.tank1-avgquality {
	margin: 5px;
	grid-column: 1/-1;
	grid-row: 1/-1;
	background-color: white;
	display: flex;
	border-radius: 5px 5px 5px 5px;
}
#tank11 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.item1 {
	display: flex;
	flex-direction: column;
	background-color: transparent;

	height: 100%;
	width: 50%;
}
.item2 {
	display: flex;
	flex-direction: column;
	background-color: transparent;

	height: 100%;
	width: 50%;
}

.item1 > div,
.item2 > div {
	background-color: transparent;

	height: 30px;

	display: flex;
	flex-direction: column;
	align-content: flex-start;
	padding-left: 10px;
	align-items: flex-start;
	font-size: 14px;
	text-align: center;
	flex-wrap: nowrap;
	color: #6d6d6d;

	font-family: Open sans;
}

/* ** ** ** ** for the REAl QUALITY  ** ** ** */

.container2 {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(1, minmax(70px, 210px));

	grid-template-rows: 197px;
}

.tank1-realquality {
	margin: 5px;
	grid-column: 1/-1;
	grid-row: 1/-1;
	background-color: white;
	display: flex;

	border-radius: 5px 5px 5px 5px;
}
#tank12 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/*.container {
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(1, minmax(50px, 144.25px));
	grid-template-rows: 153px 44px;
	grid-template-areas: "b1""ti";
	width: 100%;
	height: 100%;
	justify-content: center;
}

.container > div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: white;
	font-family: Open Sans;
}

#tank2info {
	
	border-radius: 0px 0px 5px 5px;
	grid-area: ti;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2.5px 2.5px 0.3px #b9b9b9;
	height: 44px;
	-webkit-transition: height 0.2s ease;
	-moz-transition: height 0.2s ease;
	-o-transition: height 0.2s ease;
	-ms-transition: height 0.2s ease;
	transition: height 0.2s ease;
}

#tank2info.transform-active {
	height: 159px;
}

#blank-row1 {
	
	grid-area: b1;
	background-color: transparent;
}

li {
	margin-bottom: 20px;
}

.customul {
	padding: 5px 30px;
}
*/
