<div *ngIf="!simulationflag" class="container">
  <div id="tank2info" (click)="increaseheight()">
    <ng-container *ngIf="flag">
      <ul style="position: relative; color:#6d6d6d; right: 20%">
        <li (click)="showqualityavg()">qualityavg</li>
        <li (click)="showqualityreal()">qualityreal</li>
      </ul>
    </ng-container>
  </div>
  </div>

<div *ngIf="simulationflag">
  <div style=" display: grid; grid-template-columns: repeat(1, minmax(30px, 90px)); grid-template-rows: 586px;">
  
    <div style="background-color: lightgray; color:#6d6d6d; text-align: center; font-size:14px;">
      <br><br>
      2<br><br>
      86%<br><br>
      16%<br><br>
      4%<br><br>
      0.25<br><br>
    </div>
  </div>

</div>





<!--<h3> tankno2 </h3>


<button class="btn btn-warning" [disabled]="buttondisable()" (click)="gettankinfo()">tankinfo No 2</button> <br>
Paraffin = {{ qualityreal.Paraffin_Real }} <br>
Density = {{ qualityreal.Density_Real }} <br>
IN_IP_Ratio = {{ qualityreal.IN_IP_Ratio_Real }} <br>
Aromatics = {{ qualityreal.Aromatics_Real }} <br>
<br>
Aromatics = {{ qualityavg.Aromatics }} <br>
Colour = {{ qualityavg.Colour}} <br>
Density = {{ qualityavg.Density }} <br>
IN_IP_Ratio = {{ qualityavg.IN_IP_Ratio }} <br>
Naphthene = {{ qualityavg.Naphthene }} <br>
Olefins = {{ qualityavg.Olefins }} <br>
Paraffin = {{ qualityavg.Paraffin }} <br>
RVP = {{ qualityavg.RVP }} <br>
Sulfur = {{ qualityavg.Sulfur }} <br>
FBP = {{ qualityavg.FBP }} <br>
IBP = {{ qualityavg.IBP }} <br>
<br>
Level = {{ alltanks.Level }} <br> 
Receiving_Naphtha =  {{ alltanks.Receiving_Naphtha }} <br>
Weight = {{ alltanks.Weight }} <br>
-->