<div class="container">
    <div class="inputparameter">
        <div style="width: 100%;height:13%; background-color:transparent;">
            <h2>Blend Quality</h2>
        </div>
        <div style="width: 100%;height:87%; background-color: transparent;display:flex; flex-direction:row">
            <div style="width: 70%;height:100%;background-color: transparent;">
                <div class="item1">
                    <div>Paraffin</div>
                    <div>Olefins</div>
                    <div>Aromatics</div>
                    <div>Naphthene</div>
                    <div>IN/IP Ratio</div>
                    <div>Density</div>
                    <div>IBP</div>
                    <div>FBP</div>

                </div>
            </div>
            <div style="width: 30%;height:100%; background-color: transparent;">
                <div class="item2">
                    <div>
                        --
                    </div>
                    <div>
                        --
                    </div>
                    <div>
                        --
                    </div>
                    <div>
                        --
                    </div>
                    <div>
                        --
                    </div>
                    <div>
                        --
                    </div>
                    <div>
                        --
                    </div>
                    <div>
                        --
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>


<!--<hr>
<h4>1.1.2 blendedqualitycalculate</h4>

paraffin = {{paraffin}} <br>
aromatics =  {{aromatics}}<br>
density = {{density}}<br>
inipratio = {{inipratio}}<br>
olefins = {{olefins}} <br>
naphthene =  {{naphthene}}<br>
ibp = {{ibp}}<br>
fbp = {{fbp}}<br>
<hr>
-->